<%= form_for :post do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </p>
 
  <p>
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
